annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
automat==24.8.1
beautifulsoup4==4.13.3
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.3.1
constantly==23.10.4
cryptography==44.0.2
cssselect==1.3.0
defusedxml==0.7.1
distro==1.9.0
filelock==3.18.0
google-auth==2.38.0
google-genai==1.10.0
greenlet==3.1.1
groq==0.22.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
itemadapter==0.11.0
itemloaders==1.3.2
jmespath==1.0.1
lxml==5.3.2
numpy==2.2.4
packaging==24.2
pandas==2.2.3
parsel==1.10.0
pdfminer-six==20250327
pdfplumber==0.11.6
pillow==11.2.1
protego==0.4.0
psycopg2-binary==2.9.11
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pydantic==2.11.3
pydantic-core==2.33.1
pydispatcher==2.0.7
pymupdf==1.25.5
pymupdf4llm==0.0.22
pyopenssl==25.0.0
pypdfium2==4.30.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
queuelib==1.8.0
requests==2.32.3
requests-file==2.1.0
rsa==4.9
scrapy==2.12.0
service-identity==24.2.0
setuptools==78.1.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
sqlalchemy==2.0.40
tldextract==5.2.0
twisted==24.11.0
typing-extensions==4.13.1
typing-inspection==0.4.0
tzdata==2025.2
urllib3==2.3.0
w3lib==2.3.1
websockets==15.0.1
zope-interface==7.2
